* {
  background: #3936c0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 330px;
  height: 180px;
  padding-bottom: 45px;
}

textarea {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  color: rgba(15, 45, 82, 0.65);
  font-size: 15px;
  font-weight: 500;
  resize: none;

  padding-left: 15px;
  padding-top: 15px;
}

button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 340px;
  height: 64px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 2px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  margin-bottom: 40px;
}
ul {
  list-style: none;
  list-style-type: none;
}


li {
  margin-right: auto;
  margin-left: 500px;

  width: 340px;
  height: 64px;
  background: rgba(255, 255, 255, 0.14);
  font-weight: 900;
  font-size: 17px;
 
  padding: 8px;
  color: #fff;
  margin-top: 20px;
}
